* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/**************** Genaral Styles ****************/

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

/**************** highlight ****************/

.highlight {
    color: #0097FB;
}

/**************** Header ****************/

header,
footer {
    background-color: #1f2937;
}

.header-container {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/**************** Navbar ****************/

nav ul {
    width: 100%;
    font-size: 18px;
    display: flex;
    gap: 30px;
}

.nav-links a:hover {
    color: #0097FB;
}

#logo {
    margin-right: auto;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    /* backdrop-filter: blur(10px); */
    background-color: rgb(56, 130, 246);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    height: 50px;
}

.sidebar a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    color: #1f2937;
    background-color: #fff;
}

.menu-button {
    display: none;
}

/**************** Hero Content ****************/

article {
    flex: 1;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-copy {
    flex: 1;
}

.hero-copy h1 {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.hero-copy p {
    font-size: 18px;
    color:#e5e7eb;
    margin-bottom: 16px;
}

.hero-copy button {
    padding: 8px 16px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    cursor: pointer;
}

.hero-copy button:hover {
    background-color: #1f2937;
    border: 1px solid #f9faf8;
   
}

.hero-img {
    flex: 1;
    width: 300px;
    object-fit: cover;
}

/**************** Main ****************/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section {
    padding: 32px;
    flex: 1;
}

.intro {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.intro h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;
}

.card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.testimonial {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 50px;

}

blockquote {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.author {
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    width: 70%;
    background-color: #3882f6;
    color: white;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-content p {
    font-weight: 300;
    margin-top: 5px;
}

.cta-container button {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    cursor: pointer;
}

.cta-container button:hover {
    background-color: white;
    color: #3882f6;
}


/**************** Footer ****************/

footer {
    color: #f9faf8;
    font-size: 12px;
    font-weight: 300;
    height: 50px;
    padding: 16px;
    text-align: center;
}

/**************** Media query ****************/

@media(max-width: 800px) {
    .hide-mobile {
        display: none;
    }

    .menu-button {
        display: block
    }

}

@media(max-width: 500px) {
    .sidebar {
        width: 100%;
    }

    article {
        display: block;
    }

    .cards-container {
        flex-direction: column;
        gap: 40px;
    }

    .quote-container {
        text-align: center;
    }

    blockquote {
        font-size: 20px;
        line-height: 30px;
    }

    .cta-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

}