* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/* highlight */

.highlight {
    color: #0097FB;
}

/* Header */

header,
footer {
    background-color: #1f2937;
}

.header-container {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav {
    display: flex;
    flex: 1;
}

.logo {
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #f9faf8;
}

.nav-links a:hover {
    color: #0097FB;
}

article {
    flex: 1;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-copy {
    flex: 1;
}

.hero-copy h1 {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.hero-copy p {
    font-size: 18px;
    color:#e5e7eb;
    margin-bottom: 16px;
}

.hero-copy button {
    padding: 8px 16px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    cursor: pointer;
}

.hero-copy button:hover {
    background-color: #1f2937;
    border: 1px solid #f9faf8;
   
}

.hero-img {
    flex: 1;
    width: 300px;
    object-fit: cover;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section {
    height: 350px;
    padding: 32px;
}

.intro {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.intro h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;
}

.card {
    width: 300px;
}

.card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.testimonial {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 3.5rem;

}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    width: 70%;
    height: 150px;
    background-color: #3882f6;
    color: white;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-content p {
    font-weight: 300;
    margin-top: 5px;
}

.cta-container button {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    cursor: pointer;
}

.cta-container button:hover {
    background-color: white;
    color: #3882f6;
}


/* Footer */

footer {
    color: #f9faf8;
    font-size: 12px;
    font-weight: 300;
    height: 50px;
    padding: 16px;
    text-align: center;
}